<!-- Dual Flow Canvas skeleton -->
<div id="dual-flow-canvas" class="dual-flow-canvas">
    <div class="dual-flow-left" id="execution-graph">
        <!-- Execution graph will be rendered here -->
        <h3>Execution Graph</h3>
        <div id="execution-graph-root"></div>
    </div>
    <div class="dual-flow-right" id="evolution-graph">
        <!-- Evolution graph (versions) will be rendered here -->
        <h3>Evolution Graph</h3>
        <div id="evolution-graph-root"></div>
    </div>
</div>


